<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="django-ajax.html">

<polymer-element name="my-element" noscript>
  <template>
    <span>Hello from <b>my-element</b>. This is my Shadow DOM.</span>
    <django-ajax auto
                 url="http://localhost:8080/items/.json"
                 response="{{resp}}"></django-ajax>
    <ul>
     <template repeat="{{item in resp}}">
       <li>Name: {{item.name}} | Codename: {{item.codename}} | Description: {{item.description}}</li>
     </template>
    </ul>
  </template>
</polymer-element>
